.title {
  margin-left: 40px;
  color: rgb(86, 0, 0);
  margin-top: 0;
}
.pero {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.contactBox {
  height: calc(100vh - 40px);
  background-color: beige;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 245, 220, 0.6),
      rgba(245, 245, 220, 0.6)
    ),
    url('../assets/contact-page.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
