.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.btnRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-top: 20px;
  border: 1px solid brown;
  background-color: inherit;
  margin-right: auto;
  margin-left: auto;
}
.btnRegister:hover {
  background-color: brown;
}
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
  background-color: beige;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 245, 220, 0.5),
      rgba(245, 245, 220, 0.5)
    ),
    url('../assets/login-page.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text {
  color: brown;
}
