.contact {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(86, 0, 0);
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  gap: 48px;
  width: 300px;
}
.icon {
  padding-right: 6px;
  color: rgb(86, 0, 0) n;
}
.btn {
  background-color: inherit;
  color: rgb(86, 0, 0);
  border-color: rgb(86, 0, 0);
}
.btn:hover {
  background-color: rgb(86, 0, 0);
  color: white;
}
.name {
  color: rgb(86, 0, 0);
}
